<a href="https://colab.research.google.com/github/Ayavie/Wish.com-Product-Rating-Prediction.ipynb/blob/main/Wish_com_Product_Rating_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Formulation ✅

We have a dataset from an e-commerce website, each row in the data describes some features for a product and its rating in the website.

Our goal is to make a machine learning model that is able to classify the rating of any new product based on its features. 


the input features we have for each product:
```
      'price', 'retail_price', 'currency_buyer', 'units_sold',
       'uses_ad_boosts', 'rating_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'theme', 'crawl_month', 'id' 

```

the target variable is `'rating'`.

We'll use classification technique to help solve this problem.

The experimental protocol is trying Decision Tree with random hyperparameter values then find the best values using GridSearch, applying the same thing with  random forest, SVM and finally applying  Naive Bayes

The preprocessing will be explained in steps as we investigate the dataset.
The challenge is that the dataset is extremely unclean and need alot of preprocessing

There won't be a huge or critical effect on real life for this project as it is only predicting the rating of a product to be sold.

The best solution in my opinion is above 80% accuracy.

It is always expected to get better results when using GridSearchCV

## Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

## Investigating the dataset

In [ ]:
#Loading the dataset into pandas dataframe
df=pd.read_csv('train_new.csv')

#Reading few lines
df.head(5)

   price  retail_price currency_buyer  ...   theme  crawl_month    id
0   8.00             7            EUR  ...  summer      2020-08   272
1   8.00             7            EUR  ...  summer      2020-08  1515
2   6.00            34            EUR  ...  summer      2020-08   940
3   4.67             4            EUR  ...  summer      2020-08   309
4   8.00            11            EUR  ...  summer      2020-08   226

[5 rows x 34 columns]

In [ ]:
#Checking dataset size
df.shape

(1094, 34)

In [ ]:
#Checking the features of the dataset

df.columns

Index(['price', 'retail_price', 'currency_buyer', 'units_sold',
       'uses_ad_boosts', 'rating', 'rating_count', 'badges_count',
       'badge_local_product', 'badge_product_quality', 'badge_fast_shipping',
       'tags', 'product_color', 'product_variation_size_id',
       'product_variation_inventory', 'shipping_option_name',
       'shipping_option_price', 'shipping_is_express', 'countries_shipped_to',
       'inventory_total', 'has_urgency_banner', 'urgency_text',
       'origin_country', 'merchant_title', 'merchant_name',
       'merchant_info_subtitle', 'merchant_rating_count', 'merchant_rating',
       'merchant_id', 'merchant_has_profile_picture',
       'merchant_profile_picture', 'theme', 'crawl_month', 'id'],
      dtype='object')

In [ ]:
#Getting description overview of data
df.describe()

             price  retail_price  ...  merchant_has_profile_picture           id
count  1094.000000   1094.000000  ...                   1094.000000  1094.000000
mean      8.320786     23.712066  ...                      0.155393   772.207495
std       4.027448     31.802661  ...                      0.362445   453.784430
min       1.000000      2.000000  ...                      0.000000     2.000000
25%       5.830000      7.000000  ...                      0.000000   382.250000
50%       8.000000     10.000000  ...                      0.000000   752.500000
75%      11.000000     26.000000  ...                      0.000000  1166.500000
max      49.000000    252.000000  ...                      1.000000  1572.000000

[8 rows x 20 columns]

In [ ]:
#Getting some info on the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   price                         1094 non-null   float64
 1   retail_price                  1094 non-null   int64
 2   currency_buyer                1094 non-null   object
 3   units_sold                    1094 non-null   int64
 4   uses_ad_boosts                1094 non-null   int64
 5   rating                        1094 non-null   float64
 6   rating_count                  1094 non-null   int64
 7   badges_count                  1094 non-null   int64
 8   badge_local_product           1094 non-null   int64
 9   badge_product_quality         1094 non-null   int64
 10  badge_fast_shipping           1094 non-null   int64
 11  tags                          1094 non-null   object
 12  product_color                 1065 non-null   object
 13  product_variation_size_id     1082 non-null   object
 14  product_variation_inventory   1094 non-null   int64
 15  shipping_option_name          1094 non-null   object
 16  shipping_option_price         1094 non-null   int64
 17  shipping_is_express           1094 non-null   int64
 18  countries_shipped_to          1094 non-null   int64
 19  inventory_total               1094 non-null   int64
 20  has_urgency_banner            349 non-null    float64
 21  urgency_text                  349 non-null    object
 22  origin_country                1082 non-null   object
 23  merchant_title                1094 non-null   object
 24  merchant_name                 1090 non-null   object
 25  merchant_info_subtitle        1094 non-null   object
 26  merchant_rating_count         1094 non-null   int64
 27  merchant_rating               1094 non-null   float64
 28  merchant_id                   1094 non-null   object
 29  merchant_has_profile_picture  1094 non-null   int64
 30  merchant_profile_picture      170 non-null    object
 31  theme                         1094 non-null   object
 32  crawl_month                   1094 non-null   object
 33  id                            1094 non-null   int64
dtypes: float64(4), int64(16), object(14)
memory usage: 290.7+ KB

In [ ]:
#Checking duplicated records presence and their count
df.duplicated().value_counts()

False    1094
dtype: int64

In [ ]:
#Checking nulls
df.isnull().sum()

price                             0
retail_price                      0
currency_buyer                    0
units_sold                        0
uses_ad_boosts                    0
rating                            0
rating_count                      0
badges_count                      0
badge_local_product               0
badge_product_quality             0
badge_fast_shipping               0
tags                              0
product_color                    29
product_variation_size_id        12
product_variation_inventory       0
shipping_option_name              0
shipping_option_price             0
shipping_is_express               0
countries_shipped_to              0
inventory_total                   0
has_urgency_banner              745
urgency_text                    745
origin_country                   12
merchant_title                    0
merchant_name                     4
merchant_info_subtitle            0
merchant_rating_count             0
merchant_rating                   0
merchant_id                       0
merchant_has_profile_picture      0
merchant_profile_picture        924
theme                             0
crawl_month                       0
id                                0
dtype: int64

In [ ]:
#Checking the count of values of every column
for clmn in range(df.shape[1]):
    print(df.columns[clmn])
    print(df[df.columns[clmn]].value_counts())    
    print("------------------------")

price
8.00     196
11.00    135
7.00      89
6.00      88
9.00      88
        ...
25.00      1
5.70       1
3.90       1
4.69       1
4.73       1
Name: price, Length: 117, dtype: int64
------------------------
retail_price
7      127
6      103
10      86
11      73
5       71
      ...
87       1
139      1
37       1
53       1
57       1
Name: retail_price, Length: 95, dtype: int64
------------------------
currency_buyer
EUR    1094
Name: currency_buyer, dtype: int64
------------------------
units_sold
100       353
1000      280
5000      139
10000     125
20000      79
50         54
10         37
50000      12
100000      5
8           4
1           3
2           2
7           1
Name: units_sold, dtype: int64
------------------------
uses_ad_boosts
0    621
1    473
Name: uses_ad_boosts, dtype: int64
------------------------
rating
4.0    774
5.0    170
3.0    135
2.0     12
1.0      2
6.0      1
Name: rating, dtype: int64
------------------------
rating_count
0       30
2       27
4       22
6       17
10      15
        ..
1183     1
370      1
569      1
4421     1
135      1
Name: rating_count, Length: 584, dtype: int64
------------------------
badges_count
0    979
1    106
2      8
3      1
Name: badges_count, dtype: int64
------------------------
badge_local_product
0    1073
1      21
Name: badge_local_product, dtype: int64
------------------------
badge_product_quality
0    1003
1      91
Name: badge_product_quality, dtype: int64
------------------------
badge_fast_shipping
0    1081
1      13
Name: badge_fast_shipping, dtype: int64
------------------------
tags
Summer,Fashion,Necks,Skirts,Dress,Loose,Women's Fashion,Round neck,beach dress,sleeveless,Beach,Casual,Women                                                                                                                         13
Summer,Sling,Dresses,Dress,V-neck,Casual,Pocket,Women's Fashion,Sleeveless dress,women dress,Floral,sleeveless,Women,loose dress,Pleated,casual dress                                                                                 7
Summer,Leggings,Fashion,high waist,pants,slim,Women's Fashion,trousers,Green,Army,Women                                                                                                                                               6
slimming,wasitcincher,Fashion,waistgirdle,slimmingcorset,Corset,Summer,Waist,waist trainer,Fashion Accessory,Vest,shaperwear,belt                                                                                                     6
Summer,Women Rompers,Plus Size,women long pants,linenjumpsuit,pants,Overalls,Loose,plussizejumpsuit,Women's Fashion,strappant,Long pants,Jumpsuits & Rompers,rompers womens jumpsuit,Vintage,Women,women Jumpsuit,Casual,jumpsuit     6
                                                                                                                                                                                                                                     ..
Summer,Fashion,Stitching,Lace,Denim,jeansforwomen,Women's Fashion,Shorts,Denim Shorts,sexy,Jeans,Women                                                                                                                                1
Splicing,Plus Size,sleeve dress,Necks,Sleeve,Summer,women casual dress,Dress,Women's Fashion,gauzenet,Round neck,roundneckflared,Party Dress,Shorts,shortsleevesdres,solid color,looseshortdres,Casual                                1
white,uniquetop,Plus Size,crop top,Lace,Hollow-out,Summer,lace top,Tops,slashneck,flaresleeve,clubwear,Women's Fashion,Fashion,Embroidery,summer clothes for women,long sleeve shirt,sexy,Clothing,Sleeve,Women                       1
Summer,Fashion,Mini,Dress,Loose,Polkas,V-neck,Tops,Women's Fashion,black,polka dot,sleeveless,backless,Casual,Women Fashion                                                                                                           1
sleeve v-neck,Summer,Plus Size,Sleeve,Dresses,Dress,short sleeves,V-neck,Women's Fashion,Shorts,solid color,knee,Fashion,Casual                                                                                                       1
Name: tags, Length: 895, dtype: int64
------------------------
product_color
black             219
white             173
blue               77
yellow             69
pink               68
                 ...
claret              1
brown & yellow      1
whitestripe         1
Pink                1
light green         1
Name: product_color, Length: 87, dtype: int64
------------------------
product_variation_size_id
S           444
XS          248
M           135
XXS          76
L            29
           ...
pants-S       1
XXXXL         1
SIZE-XXS      1
1pc           1
H01           1
Name: product_variation_size_id, Length: 83, dtype: int64
------------------------
product_variation_inventory
50    626
1     114
2      54
5      51
3      38
10     26
9      17
7      15
4      14
6      12
18      9
17      9
15      9
20      8
13      6
25      6
49      5
19      5
14      5
46      4
11      4
8       4
30      4
29      4
44      4
48      3
47      3
36      3
45      3
34      3
41      3
35      2
12      2
40      2
26      2
31      2
43      2
38      2
24      1
33      1
22      1
21      1
27      1
16      1
23      1
28      1
37      1
Name: product_variation_inventory, dtype: int64
------------------------
shipping_option_name
Livraison standard         1047
Standard Shipping            16
Envio Padrão                  6
الشحن القياسي                 4
Expediere Standard            4
Envío normal                  3
Standardversand               3
Livraison Express             3
Standardowa wysyłka           2
Standart Gönderi              2
Стандартная доставка          2
Spedizione standard           1
ការដឹកជញ្ជូនតាមស្តង់ដារ       1
Name: shipping_option_name, dtype: int64
------------------------
shipping_option_price
2     417
3     370
1     222
4      49
5      23
6       8
7       4
12      1
Name: shipping_option_price, dtype: int64
------------------------
shipping_is_express
0    1091
1       3
Name: shipping_is_express, dtype: int64
------------------------
countries_shipped_to
41     122
43     112
40      82
38      51
36      48
      ...
107      1
111      1
56       1
135      1
53       1
Name: countries_shipped_to, Length: 83, dtype: int64
------------------------
inventory_total
50    1089
1        1
9        1
37       1
2        1
36       1
Name: inventory_total, dtype: int64
------------------------
has_urgency_banner
1.0    349
Name: has_urgency_banner, dtype: int64
------------------------
urgency_text
Quantité limitée !                  348
Réduction sur les achats en gros      1
Name: urgency_text, dtype: int64
------------------------
origin_country
CN    1054
US      22
VE       3
SG       2
GB       1
Name: origin_country, dtype: int64
------------------------
merchant_title
Suyi Technology                             8
guangzhouweishiweifushiyouxiangongsi        7
shuilingjiao international trade company    6
sjhdstoer                                   6
Sangboo Store                               6
                                           ..
Wwenliping                                  1
yourvogue                                   1
caohongbo                                   1
bumanke003                                  1
OIUG 56465                                  1
Name: merchant_title, Length: 747, dtype: int64
------------------------
merchant_name
greatexpectationstechnology    8
广州唯适唯服饰有限公司                    7
smarthomeinternationalcoltd    6
fengjinying                    6
sangboostore                   6
                              ..
wwenliping                     1
yourvogue                      1
caohongbo                      1
bumanke003                     1
oiug56465                      1
Name: merchant_name, Length: 746, dtype: int64
------------------------
merchant_info_subtitle
86 % avis positifs (12,309 notes)    8
83 % avis positifs (32,168 notes)    7
85 % avis positifs (80,093 notes)    5
84 % avis positifs (1,047 notes)     5
85 % avis positifs (5,264 notes)     5
                                    ..
90 % avis positifs (2,359 notes)     1
90 % avis positifs (26,833 notes)    1
86 % avis positifs (4,335 notes)     1
79 % avis positifs (667 notes)       1
78 % avis positifs (6,632 notes)     1
Name: merchant_info_subtitle, Length: 808, dtype: int64
------------------------
merchant_rating_count
12309    8
32168    7
88193    6
55670    6
80093    6
        ..
2946     1
2055     1
23609    1
36       1
6632     1
Name: merchant_rating_count, Length: 718, dtype: int64
------------------------
merchant_rating
4.045170    8
3.884544    7
3.867547    6
4.080891    6
3.908535    6
           ..
4.069536    1
4.316022    1
3.837956    1
4.256597    1
3.748794    1
Name: merchant_rating, Length: 742, dtype: int64
------------------------
merchant_id
5acaf29d5ebcfd72403106a8    8
558c2cdc89d53c4005ea2920    7
5533c83986ff95173dc017d0    6
583138b06339b410ab9663ec    6
582833faea77701b456c786a    6
                           ..
5ae5c3cb4215954239aff8b9    1
5864767762a1e84ca30df7c9    1
587f55e57f83404d58fe59fb    1
5ba0fe4673d934503a6cb6ad    1
5b6ec2f2838d931d2fbf7a28    1
Name: merchant_id, Length: 747, dtype: int64
------------------------
merchant_has_profile_picture
0    924
1    170
Name: merchant_has_profile_picture, dtype: int64
------------------------
merchant_profile_picture
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_5acaf29d5ebcfd72403106a8.jpg    8
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_55c8a4c33a698c6010edcd9e.jpg    6
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_5533c83986ff95173dc017d0.jpg    6
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_58ad449708de0c6dc59d9e06.jpg    5
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_577fb2b368116418674befd9.jpg    4
                                                                                                      ..
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_5756d060b833235cbc250227.jpg    1
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_5541ba455252290c0b225b1f.jpg    1
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_565537c7a9a8a4572be0bef5.jpg    1
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_57875ba40cb30d38ba46f57d.jpg    1
https://s3-us-west-1.amazonaws.com/sweeper-production-merchantimage/dp_570ceafac277d445e3cbebe5.jpg    1
Name: merchant_profile_picture, Length: 100, dtype: int64
------------------------
theme
summer    1094
Name: theme, dtype: int64
------------------------
crawl_month
2020-08    1094
Name: crawl_month, dtype: int64
------------------------
id
272     1
725     1
1003    1
138     1
976     1
       ..
322     1
1268    1
215     1
1510    1
1536    1
Name: id, Length: 1094, dtype: int64
------------------------

#Cleaning the data

First of all, let's drop the outlier in column `'rating'`

In [ ]:
#Getting the index of the record

df[df['rating']==6]

     price  retail_price currency_buyer  ...   theme  crawl_month   id
971   49.0            42            EUR  ...  summer      2020-08  118

[1 rows x 34 columns]

In [ ]:
#Dropping the record with rating outlier using index number
df.drop(axis=0,index=971, inplace=True)

Since columns `'merchant_profile_picture'` and `'urgency_text'`  have a lot of missing values compared to the dataset size, we'll drop them. Also `'id'` , `'merchant_title' , 'merchant_name', 'merchant_id'` column will be dropped because it is not a feature.

Features that has a dominant value across records will be dropped as it's influence on the target variable will be small so columns:  `'currency_buyer', 'shipping_option_name' , 'tags' , 'origin_country', 'shipping_is_express', 'inventory_total' , 'theme' and 'crawl_month' `will be dropped.

In [ ]:
df.drop(columns=['merchant_profile_picture', 'urgency_text','id','merchant_title' , 'merchant_name', 'merchant_id','currency_buyer', 'shipping_option_name' , 'tags' , 'origin_country', 'shipping_is_express' , 'theme' , 'crawl_month'],inplace=True)

In [ ]:
#As for 'has_urgency_banner' column we will replace NULL values with 0 as meaning it does not have urgency banner
df['has_urgency_banner']=df['has_urgency_banner'].fillna(0)

In [ ]:
#Dropping rows tat has null values in 'product_color'

df.dropna(subset=['product_color'], inplace=True)

In [ ]:
#Checking correlation between features
df.corr()

                                 price  ...  merchant_has_profile_picture
price                         1.000000  ...                      0.036427
retail_price                  0.333535  ...                      0.026451
units_sold                    0.002055  ...                      0.145115
uses_ad_boosts               -0.041148  ...                      0.007264
rating                        0.199357  ...                      0.037115
rating_count                  0.023134  ...                      0.160314
badges_count                  0.063551  ...                      0.048375
badge_local_product           0.073770  ...                     -0.018859
badge_product_quality         0.037648  ...                      0.054823
badge_fast_shipping           0.012101  ...                      0.038650
product_variation_inventory   0.320003  ...                      0.019782
shipping_option_price         0.875298  ...                      0.037872
countries_shipped_to         -0.031085  ...                      0.030765
inventory_total               0.000782  ...                      0.023159
has_urgency_banner           -0.007343  ...                     -0.027177
merchant_rating_count        -0.023093  ...                      0.097572
merchant_rating               0.052539  ...                      0.117024
merchant_has_profile_picture  0.036427  ...                      1.000000

[18 rows x 18 columns]

In [ ]:
#Checking null values in columns
df.isna().any()

price                           False
retail_price                    False
units_sold                      False
uses_ad_boosts                  False
rating                          False
rating_count                    False
badges_count                    False
badge_local_product             False
badge_product_quality           False
badge_fast_shipping             False
product_color                   False
product_variation_size_id        True
product_variation_inventory     False
shipping_option_price           False
countries_shipped_to            False
inventory_total                 False
has_urgency_banner              False
merchant_info_subtitle          False
merchant_rating_count           False
merchant_rating                 False
merchant_has_profile_picture    False
dtype: bool

In [ ]:
#Checking the count of values of every column
for clmn in range(df.shape[1]):
    print(df.columns[clmn])
    print(df[df.columns[clmn]].value_counts())    
    print("------------------------")

price
8.00     191
11.00    133
6.00      88
7.00      87
9.00      86
        ...
5.82       1
25.00      1
5.70       1
3.90       1
4.73       1
Name: price, Length: 113, dtype: int64
------------------------
retail_price
7      125
6      102
10      86
11      72
5       68
      ...
27       1
29       1
37       1
139      1
57       1
Name: retail_price, Length: 95, dtype: int64
------------------------
units_sold
100       343
1000      271
5000      137
10000     124
20000      77
50         53
10         35
50000      11
8           4
100000      4
1           3
2           1
7           1
Name: units_sold, dtype: int64
------------------------
uses_ad_boosts
0    605
1    459
Name: uses_ad_boosts, dtype: int64
------------------------
rating
4.0    758
5.0    160
3.0    132
2.0     12
1.0      2
Name: rating, dtype: int64
------------------------
rating_count
0       27
2       26
4       22
27      15
10      15
        ..
370      1
569      1
4421     1
69       1
135      1
Name: rating_count, Length: 573, dtype: int64
------------------------
badges_count
0    958
1     98
2      8
Name: badges_count, dtype: int64
------------------------
badge_local_product
0    1045
1      19
Name: badge_local_product, dtype: int64
------------------------
badge_product_quality
0    979
1     85
Name: badge_product_quality, dtype: int64
------------------------
badge_fast_shipping
0    1054
1      10
Name: badge_fast_shipping, dtype: int64
------------------------
product_color
black             219
white             173
blue               77
yellow             69
pink               68
                 ...
rainbow             1
claret              1
whitestripe         1
light green         1
brown & yellow      1
Name: product_color, Length: 86, dtype: int64
------------------------
product_variation_size_id
S           434
XS          247
M           133
XXS          76
L            29
           ...
34            1
US-S          1
Size XXS      1
pants-S       1
10pcs         1
Name: product_variation_size_id, Length: 72, dtype: int64
------------------------
product_variation_inventory
50    604
1     113
2      51
5      50
3      38
10     25
9      17
7      15
4      14
6      12
18      9
17      9
15      9
20      8
13      6
25      6
49      5
19      5
14      5
46      4
44      4
30      4
8       4
29      4
47      3
36      3
48      3
45      3
34      3
41      3
11      3
40      2
26      2
43      2
12      2
35      2
38      2
16      1
23      1
28      1
22      1
27      1
21      1
24      1
33      1
31      1
37      1
Name: product_variation_inventory, dtype: int64
------------------------
shipping_option_price
2    410
3    361
1    217
4     44
5     21
6      7
7      4
Name: shipping_option_price, dtype: int64
------------------------
countries_shipped_to
41     121
43     111
40      80
38      51
36      45
      ...
78       1
135      1
56       1
69       1
53       1
Name: countries_shipped_to, Length: 80, dtype: int64
------------------------
inventory_total
50    1060
1        1
9        1
37       1
36       1
Name: inventory_total, dtype: int64
------------------------
has_urgency_banner
0.0    725
1.0    339
Name: has_urgency_banner, dtype: int64
------------------------
merchant_info_subtitle
86 % avis positifs (12,309 notes)    8
83 % avis positifs (32,168 notes)    7
84 % avis positifs (1,047 notes)     5
85 % avis positifs (80,093 notes)    5
85 % avis positifs (5,264 notes)     5
                                    ..
(4,907 notes)                        1
80 % avis positifs (435 notes)       1
81 % avis positifs (528 notes)       1
86 % avis positifs (24,771 notes)    1
78 % avis positifs (6,632 notes)     1
Name: merchant_info_subtitle, Length: 782, dtype: int64
------------------------
merchant_rating_count
12309    8
32168    7
88193    6
80093    6
10474    6
        ..
2055     1
23609    1
36       1
1653     1
6632     1
Name: merchant_rating_count, Length: 695, dtype: int64
------------------------
merchant_rating
4.045170    8
3.884544    7
3.908535    6
3.867547    6
4.121484    6
           ..
3.766117    1
4.397351    1
4.057209    1
4.235382    1
3.748794    1
Name: merchant_rating, Length: 718, dtype: int64
------------------------
merchant_has_profile_picture
0    898
1    166
Name: merchant_has_profile_picture, dtype: int64
------------------------

## Recategorizing and label encoding`'product_variation_size_id'`

In [ ]:
#Replacing all sizes less than small by -S
df['product_variation_size_id'] = df['product_variation_size_id'].replace(['XS','XXS','XXXS','XS.','Size-XXS','Size-XS','SIZE XXS','Size -XXS','Size XXS','SIZE-XXS','SIZE XS'],'-S')

#Replacing all small sizes by S
df['product_variation_size_id'] = df['product_variation_size_id'].replace(['25-S','US-S','S(bust 88cm)','S.','s','Size S', 'Size-S','S/M(child)','S (waist58-62cm)','S Pink','pants-S','Size S.', 'S..','size S','Size/S','Suit-S','SIZE S'],'S')

#Replacing all medium sizes by M
df['product_variation_size_id'] = df['product_variation_size_id'].replace(['Size M','M.','Women Size 36'],'M')


#Replacing all L sizes by L
df['product_variation_size_id'] = df['product_variation_size_id'].replace(['SizeL'],'L')

#Replacing all XL sizes by XL
df['product_variation_size_id'] = df['product_variation_size_id'].replace(['X   L','One Size','1 PC - XL'],'XL')


#Replacing all sizes bigger than XL by +XL
df['product_variation_size_id'] = df['product_variation_size_id'].replace(['XXL','4XL','6XL','04-3XL','XXXXL','XXXXXL','2XL', 'Size-5XL','Size4XL','5XL'],'+XL')

In [ ]:
#Filtering sizes other than '-S','S','M','L','XL' and '+XL'

df=df[(df['product_variation_size_id'] == '-S') |(df['product_variation_size_id'] == 'S')| (df['product_variation_size_id'] == 'M') | (df['product_variation_size_id'] == 'L') | (df['product_variation_size_id'] == 'XL') |(df['product_variation_size_id'] == '+XL') ]

In [ ]:
#Creating dictionary for replacement values then replace them in the main dataframe to label encode 'product_variation_size_id' column

cleanup_nums = {"product_variation_size_id":{"-S": 1, "S": 2,"M": 3, "L": 4, "XL": 5, "+XL":6,'daughter 24M':2, '6':7, '4':7, '1 pc.':7, '80 X 200 CM':7,
       'EU 35':7, '34':7, '100pcs':7, 'first  generation':7, '2pcs':7,
       'Women Size 37':7, 'AU plug Low quality':7, '3 layered anklet':7, '17':7,
       'US 6.5 (EU 37)':7, 'US5.5-EU35':7, 'EU39(US8)':7, 'nan':7, '36':7, '33':7}}
df = df.replace(cleanup_nums)

In [ ]:
#Filling null of 'product_variation_size_id' column by its mode value
df['product_variation_size_id'].fillna(df['product_variation_size_id'].mode()[0],inplace=True)

## Recategorizing and One-Hot-Encoding`'product_color'`

In [ ]:
#Re-categorize 'product_color' column

df['product_color'] = df['product_color'].replace(['Black', 'coolblack'],'black')
df['product_color'] = df['product_color'].replace(['White','whitefloral','star', 'offwhite'],'white')
df['product_color'] = df['product_color'].replace(['lakeblue','navyblue','lightblue','skyblue','navy','navy blue','darkblue','denimblue','Blue'],'blue')
df['product_color'] = df['product_color'].replace(['lightpink', 'pink','Pink','dustypink'],'pink')
df['product_color'] = df['product_color'].replace(['lightyellow'],'yellow')
df['product_color'] = df['product_color'].replace(['winered','watermelonred', 'rosered','rose','lightred','burgundy','wine red','claret','orange-red','wine','Rose red'],'red')
df['product_color'] = df['product_color'].replace(['khaki','armygreen','mintgreen','camouflage','lightgreen','darkgreen','Army green','light green','fluorescentgreen','applegreen'],'green')
df['product_color'] = df['product_color'].replace(['gray','lightgrey','lightgray'],'grey')
df['product_color'] = df['product_color'].replace(['violet',],'purple')
df['product_color'] = df['product_color'].replace(['coffee',],'brown')
df['product_color'] = df['product_color'].replace(['apricot',],'orange')
df['product_color'] = df['product_color'].replace(['camel' ,'ivory'],'beige')
df['product_color'] = df['product_color'].replace(['blackwhite','leopard','pink & grey','army','winered & yellow','white & green','pink & black','pink & white','leopardprint','black & yellow','whitestripe','navyblue & white', 'black & blue','black & green','white & black','black & white','pink & blue','rainbow','floral','brown & yellow','blue & pink'],'multicolor')

In [ ]:
#Applying One-Hot-Encoding 
from sklearn.preprocessing import OneHotEncoder
one_hot_encoded_data = pd.get_dummies(df, columns = ['product_color'])
one_hot_encoded_data

      price  retail_price  ...  product_color_white  product_color_yellow
0      8.00             7  ...                    0                     1
1      8.00             7  ...                    0                     0
2      6.00            34  ...                    1                     0
3      4.67             4  ...                    0                     0
4      8.00            11  ...                    0                     0
...     ...           ...  ...                  ...                   ...
1088   8.00             7  ...                    0                     0
1089   4.00             4  ...                    0                     0
1091   9.00            48  ...                    0                     0
1092  11.00            10  ...                    0                     0
1093   7.00             6  ...                    0                     1

[1023 rows x 33 columns]

In [ ]:
#Assigning the one-hot-encoded data to the original dataframe 
df=one_hot_encoded_data

##Handling 'merchant_info_subtitle' column

In [ ]:
#Splitting only the percentage out of it into a new column

percent=df[ 'merchant_info_subtitle' ].str.split(" ", n=1,expand=True)

In [ ]:
#Assigning the first column(the one withm percentage) to the original column
df['merchant_info_subtitle']=percent[0]

In [ ]:
df['merchant_info_subtitle']

0       88
1       91
2       83
3       87
4       91
        ..
1088    85
1089    92
1091    78
1092    83
1093    86
Name: merchant_info_subtitle, Length: 1023, dtype: object

In [ ]:
#Converting the type to numeric and assigning it to the original column
#using errors='coerce' to set invalid pasrsing to NaNs

df['merchant_info_subtitle']=pd.to_numeric(df['merchant_info_subtitle'],errors='coerce')

In [ ]:
#Filling NaNs with meean value of the column
df['merchant_info_subtitle'].fillna(df['merchant_info_subtitle'].mean(), inplace= True)

In [ ]:
df

      price  retail_price  ...  product_color_white  product_color_yellow
0      8.00             7  ...                    0                     1
1      8.00             7  ...                    0                     0
2      6.00            34  ...                    1                     0
3      4.67             4  ...                    0                     0
4      8.00            11  ...                    0                     0
...     ...           ...  ...                  ...                   ...
1088   8.00             7  ...                    0                     0
1089   4.00             4  ...                    0                     0
1091   9.00            48  ...                    0                     0
1092  11.00            10  ...                    0                     0
1093   7.00             6  ...                    0                     1

[1023 rows x 33 columns]

##Checking duplicates

In [ ]:
df.duplicated().value_counts()

False    1011
True       12
dtype: int64

In [ ]:
#Dropping duplicates
df.drop_duplicates(inplace=True)

#Assigning dependent and independent variables

In [ ]:
xtr=df.drop(columns=['rating'])
ytr=df['rating']

#Applying preprocessing on test data

We will apply the same preprocessing done on training data on the test data for consistency.

In [ ]:
#Reading test data into a dataframe
df_test=pd.read_csv('test_new.csv')

In [ ]:
#Dropping columns as training set
df_test.drop(columns=['merchant_profile_picture', 'urgency_text','id','merchant_title' , 'merchant_name', 'merchant_id','currency_buyer', 'shipping_option_name' , 'tags' , 'origin_country', 'shipping_is_express' , 'theme' , 'crawl_month'],inplace=True)

## Recategorizing and label encoding`'product_variation_size_id'` of test data

In [ ]:
#Replacing all sizes less than small by -S
df_test['product_variation_size_id'] = df_test['product_variation_size_id'].replace(['S(Pink & Black)','Size--S','XS','XXS','XXXS','XS.','Size-XXS','Size-XS','SIZE XXS','Size -XXS','Size XXS','SIZE-XXS','SIZE XS'],'-S')

#Replacing all small sizes by S
df_test['product_variation_size_id'] = df_test['product_variation_size_id'].replace(['S Diameter 30cm','25-S','US-S','S(bust 88cm)','S.','s','Size S', 'Size-S','S/M(child)','S (waist58-62cm)','S Pink','pants-S','Size S.', 'S..','size S','Size/S','Suit-S','SIZE S'],'S')

#Replacing all medium sizes by M
df_test['product_variation_size_id'] = df_test['product_variation_size_id'].replace(['Size M','M.','Women Size 36'],'M')


#Replacing all L sizes by L
df_test['product_variation_size_id'] = df_test['product_variation_size_id'].replace(['SizeL','L.','Size-L','32/L'],'L')

#Replacing all XL sizes by XL
df_test['product_variation_size_id'] = df_test['product_variation_size_id'].replace(['X   L','One Size','1 PC - XL'],'XL')


#Replacing all sizes bigger than XL by +XL
df_test['product_variation_size_id'] = df_test['product_variation_size_id'].replace(['SIZE-4XL','XXXL','3XL','XXL','4XL','6XL','04-3XL','XXXXL','XXXXXL','2XL', 'Size-5XL','Size4XL','5XL'],'+XL')

In [ ]:
#Creating dictionary for replacement values then replace them in the main dataframe and assign value 7 to unknown size

cleanup_nums = {"product_variation_size_id":{"-S": 1, "S": 2,"M": 3, "L": 4, "XL": 5, "+XL":6,'daughter 24M':2, '6':7, '4':7, '1 pc.':7, '80 X 200 CM':7,
       'EU 35':7, '34':7, '100pcs':7, 'first  generation':7, '2pcs':7,
       'Women Size 37':7, 'AU plug Low quality':7, '3 layered anklet':7, '17':7,
       'US 6.5 (EU 37)':7, 'US5.5-EU35':7, 'EU39(US8)':7, 'nan':7, '36':7, '33':7}}
df_test = df_test.replace(cleanup_nums)

In [ ]:
#Filling null of 'product_variation_size_id' column by its mode value
df_test['product_variation_size_id'].fillna(df['product_variation_size_id'].mode()[0],inplace=True)

## Recategorizing and One-Hot-Encoding`'product_color'` of test data

In [ ]:
#Re-categorize 'product_color' column

df_test['product_color'] = df_test['product_color'].replace(['offblack','Black', 'coolblack'],'black')
df_test['product_color'] = df_test['product_color'].replace(['White','whitefloral','star', 'offwhite'],'white')
df_test['product_color'] = df_test['product_color'].replace(['prussianblue','lakeblue','navyblue','lightblue','skyblue','navy','navy blue','darkblue','denimblue','Blue'],'blue')
df_test['product_color'] = df_test['product_color'].replace(['lightpink', 'pink','Pink','dustypink'],'pink')
df_test['product_color'] = df_test['product_color'].replace(['lightyellow'],'yellow')
df_test['product_color'] = df_test['product_color'].replace(['coralred','jasper','winered','watermelonred', 'rosered','rose','lightred','burgundy','wine red','claret','orange-red','wine','Rose red'],'red')
df_test['product_color'] = df_test['product_color'].replace(['army green','lightkhaki','khaki','armygreen','mintgreen','camouflage','lightgreen','darkgreen','Army green','light green','fluorescentgreen','applegreen'],'green')
df_test['product_color'] = df_test['product_color'].replace(['gray','lightgrey','lightgray','silver'],'grey')
df_test['product_color'] = df_test['product_color'].replace(['violet','lightpurple'],'purple')
df_test['product_color'] = df_test['product_color'].replace(['coffee',],'brown')
df_test['product_color'] = df_test['product_color'].replace(['apricot','tan'],'orange')
df_test['product_color'] = df_test['product_color'].replace(['camel' ,'ivory'],'beige')
df_test['product_color'] = df_test['product_color'].replace(['white & red','gray & white','orange & camouflage','red & blue','greysnakeskinprint','black & stripe','white & red ','leopard','pink & grey','army','winered & yellow','white & green','pink & black','pink & white','leopardprint','black & yellow','whitestripe','navyblue & white', 'black & blue','black & green','white & black','black & white','pink & blue','rainbow','floral','brown & yellow','blue & pink'],'multicolor')

In [ ]:
#Applying One-Hot-Encoding 

test_one_hot_encoded_data = pd.get_dummies(df_test, columns = ['product_color'])
test_one_hot_encoded_data

     price  retail_price  ...  product_color_white  product_color_yellow
0     5.75             5  ...                    1                     0
1     7.00             7  ...                    0                     0
2     5.00            16  ...                    0                     0
3    18.00            27  ...                    0                     0
4    12.00            81  ...                    1                     0
..     ...           ...  ...                  ...                   ...
474  16.00            14  ...                    0                     0
475   6.00            17  ...                    0                     0
476   4.83            51  ...                    1                     0
477   3.00             3  ...                    0                     0
478  13.00            11  ...                    0                     1

[479 rows x 32 columns]

In [ ]:
#Assigning the one-hot-encoded data to the original dataframe 
df_test=test_one_hot_encoded_data

##Handling 'merchant_info_subtitle' column of test data

In [ ]:
#Splitting only the percentage out of it into a new column

test_percent=df_test[ 'merchant_info_subtitle' ].str.split(" ", n=1,expand=True)

In [ ]:
#Assigning the first column(the one withm percentage) to the original column
df_test['merchant_info_subtitle']=test_percent[0]

In [ ]:
df_test['merchant_info_subtitle']

0       33
1       86
2       85
3       86
4       88
      ...
474     70
475     87
476     85
477     87
478    86%
Name: merchant_info_subtitle, Length: 479, dtype: object

In [ ]:
#Converting the type to numeric and assigning it to the original column
#using errors='coerce' to set invalid pasrsing to NaNs

df_test['merchant_info_subtitle']=pd.to_numeric(df_test['merchant_info_subtitle'],errors='coerce')

In [ ]:
#Filling NaNs with meean value of the column
df_test['merchant_info_subtitle'].fillna(df_test['merchant_info_subtitle'].mean(), inplace= True)

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   price                         479 non-null    float64
 1   retail_price                  479 non-null    int64
 2   units_sold                    479 non-null    int64
 3   uses_ad_boosts                479 non-null    int64
 4   rating_count                  479 non-null    int64
 5   badges_count                  479 non-null    int64
 6   badge_local_product           479 non-null    int64
 7   badge_product_quality         479 non-null    int64
 8   badge_fast_shipping           479 non-null    int64
 9   product_variation_size_id     479 non-null    object
 10  product_variation_inventory   479 non-null    int64
 11  shipping_option_price         479 non-null    int64
 12  countries_shipped_to          479 non-null    int64
 13  inventory_total               479 non-null    int64
 14  has_urgency_banner            124 non-null    float64
 15  merchant_info_subtitle        479 non-null    float64
 16  merchant_rating_count         479 non-null    int64
 17  merchant_rating               479 non-null    float64
 18  merchant_has_profile_picture  479 non-null    int64
 19  product_color_beige           479 non-null    uint8
 20  product_color_black           479 non-null    uint8
 21  product_color_blue            479 non-null    uint8
 22  product_color_brown           479 non-null    uint8
 23  product_color_green           479 non-null    uint8
 24  product_color_grey            479 non-null    uint8
 25  product_color_multicolor      479 non-null    uint8
 26  product_color_orange          479 non-null    uint8
 27  product_color_pink            479 non-null    uint8
 28  product_color_purple          479 non-null    uint8
 29  product_color_red             479 non-null    uint8
 30  product_color_white           479 non-null    uint8
 31  product_color_yellow          479 non-null    uint8
dtypes: float64(4), int64(14), object(1), uint8(13)
memory usage: 77.3+ KB

In [ ]:
#As for 'has_urgency_banner' column we will replace NULL values with 0 as meaning it does not have urgency banner
df_test['has_urgency_banner']=df_test['has_urgency_banner'].fillna(0)

In [ ]:
#Checking the shape of the test dataframe
df_test.shape

(479, 32)

#Decision Tree Model

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# Create Decision Tree classifer object with random hyperparameters values
DT_clf = DecisionTreeClassifier(criterion= "entropy", max_depth= 8 , min_samples_leaf= 4 , random_state= 42)

# Train Decision Tree Classifer
DT_clf = DT_clf.fit(xtr,ytr)

In [ ]:
#Predicting test values
y_pred = DT_clf.predict(df_test)

In [ ]:
#Printing the predicted values
y_pred

array([5., 4., 3., 4., 4., 5., 4., 4., 4., 3., 4., 4., 3., 4., 4., 4., 4.,
       4., 3., 5., 4., 5., 3., 4., 4., 4., 4., 5., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 5., 4., 3., 4., 4., 4., 2., 4., 4., 4., 4.,
       1., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5., 4., 4., 3., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 3., 4., 3., 4., 4., 4., 3.,
       4., 4., 4., 4., 5., 5., 4., 3., 5., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5.,
       4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 3., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 5., 4., 2., 4., 4., 4., 4., 4., 3., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 5., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 3., 4., 4., 4., 4., 4., 3., 3., 4., 4., 4., 4., 4.,
       4., 5., 4., 4., 4., 3., 4., 3., 4., 4., 4., 4., 4., 4., 4., 3., 4.,
       4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 3., 4., 5., 4., 5., 4., 4., 4., 4., 3., 4., 3., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 3.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 3., 4., 5., 5., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 2., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 3., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 3., 4., 5., 4., 4., 3., 3., 4., 4., 5., 4., 5., 4., 4.,
       4., 4., 4., 4., 3., 4., 4., 4., 4., 4., 4., 4., 2., 4., 4., 4., 3.,
       5., 4., 4., 5., 3., 4., 3., 4., 4., 5., 4., 4., 4., 5., 5., 4., 4.,
       5., 4., 4., 5., 4., 4., 4., 4., 3., 5., 4., 3., 4., 4., 4., 4., 4.,
       4., 5., 3., 4., 4., 4., 4., 4., 4., 4., 3., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 3., 4., 4., 3., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 3., 4.,
       2., 4., 4.])

#Finding the optimal Hyperparameters using GridSearchCV

In [ ]:
# Creating parameters dictionary for applying GridSearchCV
param_dist = {
     "criterion" : ["gini" , "entropy"],
     "max_depth" : [2 , 4 , 6 , 8, 10, 12, 14, 16],
     "min_samples_leaf": [1 , 2, 3, 4, 5, 6, 7, 8, 9, 10]
 }

In [ ]:
from sklearn.model_selection import GridSearchCV

#Instantiating GridSearch
GS = GridSearchCV(DT_clf , param_grid= param_dist , cv= 10 , n_jobs= -1)

In [ ]:
#Fitting GridSeach with training data
GS.fit(xtr,ytr)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10,
             estimator=DecisionTreeClassifier(criterion='entropy', max_depth=8,
                                              min_samples_leaf=4,
                                              random_state=42),
             n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 4, 6, 8, 10, 12, 14, 16],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]})

In [ ]:
#Printing the best hyperparameters value for the model
GS.best_params_

{'criterion': 'entropy', 'max_depth': 6, 'min_samples_leaf': 10}

In [ ]:
#Printing the best score that DT can ever get using the best parameters
GS.best_score_

0.7774606872451951

In [ ]:
# Create Decision Tree classifer object
clf2 = DecisionTreeClassifier(criterion= "entropy", max_depth= 6 , min_samples_leaf= 10 , random_state= 42)

# Train Decision Tree Classifer
clf2 = clf2.fit(xtr,ytr)

In [ ]:
df_test

     price  retail_price  ...  product_color_white  product_color_yellow
0     5.75             5  ...                    1                     0
1     7.00             7  ...                    0                     0
2     5.00            16  ...                    0                     0
3    18.00            27  ...                    0                     0
4    12.00            81  ...                    1                     0
..     ...           ...  ...                  ...                   ...
474  16.00            14  ...                    0                     0
475   6.00            17  ...                    0                     0
476   4.83            51  ...                    1                     0
477   3.00             3  ...                    0                     0
478  13.00            11  ...                    0                     1

[479 rows x 32 columns]

#Applying feature importance to know the importance of each feature

In [ ]:
from sklearn.inspection import permutation_importance

#Instantiating permutation importance 
result = permutation_importance(clf2, xtr, ytr, n_repeats=10,random_state=42)

#Getting the mean of all importance of the feature and storing them in an array
result_mean=result.importances_mean

In [ ]:
#Printing the mean of importance
result_mean

array([0.0206726 , 0.00870425, 0.00682493, 0.        , 0.09930762,
       0.        , 0.        , 0.04559842, 0.        , 0.        ,
       0.        , 0.        , 0.01780415, 0.        , 0.        ,
       0.        , 0.01503462, 0.00820969, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

In [ ]:
#Checking shape of training sey
xtr.shape

(1011, 32)

In [ ]:
#looping on columns and add those of 0 permutation importanceto a list
col_names=[]
for i in range(result_mean.shape[0]):
  if result_mean[i]==0:
    colname = xtr.columns[i]
    col_names.append(colname)

In [ ]:
#Printing column names to drop
col_names

['uses_ad_boosts',
 'badges_count',
 'badge_local_product',
 'badge_fast_shipping',
 'product_variation_size_id',
 'product_variation_inventory',
 'shipping_option_price',
 'inventory_total',
 'has_urgency_banner',
 'merchant_info_subtitle',
 'merchant_has_profile_picture',
 'product_color_beige',
 'product_color_black',
 'product_color_blue',
 'product_color_brown',
 'product_color_green',
 'product_color_grey',
 'product_color_multicolor',
 'product_color_orange',
 'product_color_pink',
 'product_color_purple',
 'product_color_red',
 'product_color_white',
 'product_color_yellow']

In [ ]:
#Dropping columns with no importance
xtr.drop(columns=col_names,inplace=True)

In [ ]:
#Dropping columns with no importance from test set as well
df_test.drop(columns=col_names,inplace=True)

In [ ]:
#Checking training set shape
xtr.shape

(1011, 8)

In [ ]:
#Checking testing set shape
df_test.shape

(479, 8)

In [ ]:
# Create Decision Tree classifer object
clf2 = DecisionTreeClassifier(criterion= "entropy", max_depth= 6 , min_samples_leaf= 10 , random_state= 42)

# Train Decision Tree Classifer
clf2 = clf2.fit(xtr,ytr)

In [ ]:

preds2=clf2.predict(df_test)

In [ ]:
#Reading submission file

preds2 = pd.read_csv('sample_submission_new.csv')

#Replace the rating column with the predicted value
preds2["rating"] = y_pred

#convert it to csv
preds2.to_csv('submission_DT.csv',index=False)

#Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestClassifier
#Instantiating the model
rfc=RandomForestClassifier(random_state=42)

In [ ]:
# Creating parameters dictionary for applying GridSearchCV
param_grid = { 
    'n_estimators': [100, 200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

In [ ]:
#Instanitating and fitting the GridSearch
rfc_gs = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 10)
rfc_gs.fit(xtr, ytr)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=RandomForestClassifier(random_state=42),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [100, 200]})

In [ ]:
#Getting best parameters
rfc_gs.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'max_features': 'log2',
 'n_estimators': 200}

In [ ]:
#Getting best score
rfc_gs.best_score_

0.8011745292176278

In [ ]:
#Instantiating Random Forest model with best parameters
rfc1=RandomForestClassifier(n_estimators=200, max_features='auto', max_depth=8, criterion='entropy',random_state=2 )

#Fitting the model with training data
rfc1.fit(xtr,ytr)

RandomForestClassifier(criterion='entropy', max_depth=8, n_estimators=200,
                       random_state=2)

In [ ]:
#making predictions using Random Forest Model
rfc1.predict(df_test)

array([5., 4., 4., 4., 4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 3., 5., 4., 5., 4., 4., 4., 4., 4., 5., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 5., 4., 4., 4., 4., 4., 5., 4., 4., 4., 4.,
       5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 5., 5., 4., 3., 5., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5.,
       4., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 5., 4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 3., 4., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 5., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 3., 5., 4., 4., 4., 4., 4., 4., 3., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5., 4., 4., 4., 3., 4., 4.,
       4., 4., 4., 4., 4., 5., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5.,
       4., 4., 4., 3., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 3., 4., 4., 4., 4., 4., 5., 4., 4.,
       4., 4., 4., 4., 3., 4., 4., 4., 4., 4., 4., 4., 3., 4., 4., 4., 4.,
       5., 4., 4., 5., 3., 4., 4., 4., 4., 4., 4., 4., 4., 5., 5., 4., 4.,
       5., 4., 4., 5., 4., 4., 4., 4., 3., 4., 3., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 5., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4., 4.,
       2., 4., 4.])

In [ ]:
#Reading submission file

preds2 = pd.read_csv('sample_submission_new.csv')

#Replace the rating column with the predicted value
preds2["rating"] = y_pred

#convert it to csv
preds2.to_csv('submission_rfc.csv',index=False)

#Naive Bayes Model

In [ ]:
#Instantiating Naive Bayes Model
from sklearn.naive_bayes import BernoulliNB
nbc = BernoulliNB()

#Fitting the model
nbc.fit(xtr,ytr)

BernoulliNB()

In [ ]:
y_pred = nbc.predict(df_test)

In [ ]:
#Reading submission file

preds2 = pd.read_csv('sample_submission_new.csv')

#Replace the rating column with the predicted value
preds2["rating"] = y_pred

#convert it to csv
preds2.to_csv('submission_NB.csv',index=False)

# Support Vector Machine

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtr_scaled = pd.DataFrame(sc.fit_transform(xtr))

In [ ]:
#Scaling test data 
df_test = pd.DataFrame(sc.transform(df_test))

In [ ]:
from sklearn.svm import SVC

#Instantiating the svm model
model_svc = SVC(random_state=42)
model_svc.fit(xtr_scaled, ytr)

SVC(random_state=42)

## Finding the best hyperparameter

In [ ]:
# Creating parameters dictionary for applying GridSearchCV
GS_SVC=GridSearchCV(model_svc, {
        'kernel': ['poly','rbf','sigmoid'],
         'C':[0.1, 1, 10, 100, 1000],
    'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
    }, 
   refit = True, n_jobs=-1, cv=10
   
)
GS_SVC.fit(xtr_scaled, ytr)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=10.
  UserWarning,

GridSearchCV(cv=10, estimator=SVC(), n_jobs=-1,
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['poly', 'rbf', 'sigmoid']})

In [ ]:
df2 = pd.DataFrame(GS_SVC.cv_results_)
df2[['param_kernel','param_gamma','param_C','mean_test_score']]

   param_kernel param_gamma param_C  mean_test_score
0          poly           1     0.1         0.735847
1           rbf           1     0.1         0.720083
2       sigmoid           1     0.1         0.660726
3          poly         0.1     0.1         0.741827
4           rbf         0.1     0.1         0.720083
..          ...         ...     ...              ...
70          rbf       0.001    1000         0.741837
71      sigmoid       0.001    1000         0.725005
72         poly      0.0001    1000         0.720083
73          rbf      0.0001    1000         0.712163
74      sigmoid      0.0001    1000         0.712163

[75 rows x 4 columns]

In [ ]:
#GridSearch best parameters used
GS_SVC.best_params_

{'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}

In [ ]:
#GridSearch best score got
GS_SVC.best_score_

0.7438167346146379

In [ ]:
## The SVM model with optimal hyperparameters 

svm = SVC(C=1,kernel='rbf',gamma=0.1,probability=True)

#Fitting the model
svm.fit(xtr_scaled, ytr)

#Predicting the output
y_pred=svm.predict(df_test)

In [ ]:
#Reading submission file

preds2 = pd.read_csv('sample_submission_new.csv')

#Replace the rating column with the predicted value
preds2["rating"] = y_pred

#convert it to csv
preds2.to_csv('submission_SVM.csv',index=False)

#Questions



🌈 Why Data Mining is a misnomer? What is another preferred name?

**Answer:It was supposed to ne named Knowledge Discovery in Database because its main goal is discover pattern and knowledge from huge dataset. The process is not about mining (extraction) of the dataset itself**



---



🌈 What is the general knowledge discovery process? What is the difference between a data engineer and data scientist/AI engineer?

**Answer: It is the process of finding patterns and knowledge in the data. The process includes:**

1.   Developing and understanding of: domain of application, porior knowledge which is relevant to the problem and goals of end-user.
2.   Choosing the dataset
3.   Cleaning and preprocessing the data
4.   Data reduction and projection: Choosing features that help solve the problem and applying dimensionality reduction methods.
5.   Deciding the data mining task whether it is regression or classification
6.   Choosing a data mining algorithm
7.    The data mining process itself of discovering the knowledge and patterns from the dataset
8.   Interpreting those patterns into meaningful results
9.   Merge and consolidate those discovered pieces of knowledge

**Data Engineer is the person who prepare data from raw data which is not formatted and may include machine or human errors. They go into collecting, extracting and integrating data from various resources, they also manage to improve data efficiency, quality, and reliability** 

**Data Scientist works on the data provided from the data engineer, he analyzes the data and give useful insights. He use machine learning and statistical models to use the data in both prescriptive and predictive models. He examines the hidden patterns to come up with conclusions that help in decision making**

---


🌈 In data mining, what is the difference between prediction and categorization?


**Answer: Categorization is the process of making groups  for data that that are similar to each other in entities  but prediction but prediction is about fitting a specific shape (or model) as close to the data as possible in order to find out a value for a specific missing target variable**


---



🌈 Why data science/machine learning is a bad idea in the context of information security?

**Answer: Due to some violation in the system that could happen through**

1. Machine Learning Adversial samples which  break system integrity by manipulating the behavior of the system by using fake samples that actually trick the model
2. Backdoor attack in the model by changing the data used in training the model by adding noise

3. Information Leak Model in which we only evaluate the model based on its performance in testing data using some evaluation metric withour caring what else the model did capture from tdata that could be used by attackers

4.  Reconstructing original training data

5. Stealing the neural network 

6. Membership Inference 
 
---

🌈 What is CIA principle and how can we use it to access the security/privacy aspect of the AI system/pipelines?



**Answer: C for Confidentiality of the data which means no disclosure of the data to unauthorized data, I for Integrity of the which means the data is correct and A for availability which means the data is accessable and not lost. We can access the security aspects of AI system through: the internal data of the system and operational data, client/collected data, external data.**


---

References: 
http://www2.cs.uregina.ca/~dbd/cs831/notes/kdd/1_kdd.html 

https://www.geeksforgeeks.org/difference-between-data-scientist-and-data-engineer/